---
layout: default
description: Typescene documentation start page. Read the guides, or search for detailed information on any of the API exports.
title: Documentation
lang: en
---

<article class="wrapper wrapper--page">
    <div class="pagetitle_container">
        <h1>Documentation</h1>
    </div>

    <div class="wrapper_columns">
        <div class="wrapper_column">
            {% for docsection in site.data.docs.en.doc_sections %}
                <h3>{{ docsection.name }}</h3>
                <p>{{ docsection.description }}</p>
                <ul>
                    {% for p in docsection.pages %}
                        <li><a href="{{ p.url }}">{{ p.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}

            <hr>
            <p>
                <i>Documentation generated for Typescene version {{ site.data.index.version }}</i>
            </p>
        </div>

        <aside class="wrapper_column wrapper_column--aside">
            <h3>API Reference</h3>
            <p><b>Tip:</b> use the “Docs” link at the top or hit the <code>/</code> key on any page to search.</p>

            <table class="table--ref">
                {% for page in site.data.index.index %}
                <tr>
                    <td>{{ page.type }}</td>
                    <td><a href="/docs/ref/{{page.id}}">{{ page.id }}</a></td>
                </tr>
                {% endfor %}
            </table>

        </aside>
    </div>
</article>
