<!DOCTYPE html>
{% assign lang = page.lang | default: "en" %}
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    {% if page.description %}
        <meta name="Description" content="{{ page.description }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if page.title == "Typescene" %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ page.title | append: " - Typescene" }}</title>
    {% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-96048899-3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-96048899-3');
    </script>
    <!-- end GA -->
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,300i|IBM+Plex+Sans:200,300,500,800,200i,300i,500i" rel="stylesheet">
</head>
<body{% if page.path == "index.html" %} class="home"{% endif %}>
    <nav class="topnav">
        <section class="wrapper">
            <a href="/" class="logo_link">
                <img src="/assets/logo_flat.png" alt="Typescene logo" class="topnav_logo">
                <span class="topnav_title">Typescene</span>
            </a>
            <ul class="topnav_links">
                <li><a href="#" onclick="return showDocWidget()"><img src="/assets/icons/search-reverse.svg" alt="" width=16 style="position: relative; top: .125rem">&nbsp; {{ site.data.docs[lang].docs_name }}</a></li>
                <li class="hide_small"><a href="https://github.com/typescene/typescene" target="_blank" rel="noopener">Github</a></li>
            </ul>
        </section>
    </nav>

    {{ content }}

    <footer class="footer">
        <section class="wrapper">
            <div class="wrapper_columns">
                <div class="wrapper_column">
                    &copy; {{ site.data.docs[lang].copyright }}
                </div>
                <div class="wrapper_column wrapper_column--oppose style--light">
                    {{ site.data.docs[lang].footer_text }}
                </div>
            </div>
        </section>
    </footer>

    <script src="/assets/default.js"></script>
    <script src="/assets/docwidget/index.js"></script>
</body>
</html>