---
layout: default
---
{% assign lang = page.lang | default: "en" %}

<link rel="preload" href="/assets/icons/chevron.svg" as="image" />
<article class="wrapper wrapper--page">
    <div class="wrapper_columns">
        <div class="wrapper_column">
            <a href="/docs/" class="top_backlink">{{ site.data.docs[lang].doc_backlink_text }}</a>
            <a href="#toc" class="top_toclink">{{ site.data.docs[lang].doc_toclink_text }}</a>
            <div class="pagetitle_container">
                <h1>{{ page.title }}</h1>
                {% if page.pageintro %}
                    <p class="style--pageintro">{{ page.pageintro | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                {% endif %}
            </div>

            {{ content }}
        </div>

        <div class="wrapper_column wrapper_column--sidebar">
            <div class="fixed_cell">
                <div class="fixed_cell_inner">
                    <div class="sidebartitle_container">
                        <a href="/docs/"><h4 class="sidetitle">{{ site.data.docs[lang].doc_main_title }}</h4></a>
                    </div>
                    <nav id="toc" class="sidebar_nav">
                        {% for docsection in site.data.docs[lang].doc_sections %}
                            {% if docsection.id == page.docsection %}
                                <h4>{{ docsection.name }}</h4>
                            {% else %}
                                <h4 class="closed">{{ docsection.name }}</h4>
                            {% endif %}
                            <ul>
                                {% for p in docsection.pages %}
                                    {% if p.url == page.url %}
                                        <li aria-current="page"><b>{{ p.name }}</b></li>
                                        {{ page.nav | markdownify }}
                                    {% else %}
                                        <li><a href="{{ p.url }}">{{ p.name }}</a></li>
                                        <link rel="prefetch" href="{{ p.url }}" as="fetch" />
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </nav>
                </div>
                <div class="fixed_cell_backtotop">
                    <a href="#" onclick="backToTop()">{{ site.data.docs[lang].backtotop_text }}</a>
                </div>
            </div>
        </div>
    </div>
</article>
<link rel="prefetch" href="/docs/" as="fetch" />
