---
layout: default
---
{% assign lang = page.lang | default: "en" %}

<link rel="preload" href="/assets/icons/chevron.svg" as="image" />
<div id="breadcrumb_bar">
  <section class="wrapper">
      <a href="/" class="logo_link" id="breadcrumb_logo" hidden>
          <img src="/assets/logo_small.png" alt="Typescene logo" class="topnav_logo">
      </a>
      <span>
          <a href="/docs">{{ site.data.docs[lang].doc_backlink_text }}</a>
          {% for docsection in site.data.docs[lang].doc_sections %}
            {% if docsection.id == page.docsection %}
              &nbsp;|&nbsp;
              {{ docsection.name }}
            {% endif %}
          {% endfor %}
      </span>
  </section>
</div>
<article class="wrapper wrapper--page">
    <div class="wrapper_columns">
        <div class="wrapper_column">
            <div class="pagetitle_container">
                <h1>{{ page.title }}</h1>
                {% if page.pageintro %}
                    <p class="style--pageintro">{{ page.pageintro | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                {% endif %}
            </div>

            {{ content }}
        </div>

        <div class="wrapper_column wrapper_column--sidebar">
            <div class="fixed_cell">
                <div class="fixed_cell_inner">
                    <nav id="toc" class="sidebar_nav">
                        {% for docsection in site.data.docs[lang].doc_sections %}
                            {% if docsection.id == page.docsection %}
                                <h4>{{ docsection.name }}</h4>
                            {% else %}
                                <h4 class="closed">{{ docsection.name }}</h4>
                            {% endif %}
                            <ul>
                                {% for p in docsection.pages %}
                                    {% if p.url == page.url %}
                                        <li aria-current="page"><b>{{ p.name }}</b></li>
                                        {{ page.nav | markdownify }}
                                    {% else %}
                                        <li><a href="{{ p.url }}">{{ p.name }}</a></li>
                                        <link rel="prefetch" href="{{ p.url }}" as="fetch" />
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </nav>
                </div>
                <div class="fixed_cell_backtotop">
                    <a href="#" onclick="backToTop()">{{ site.data.docs[lang].backtotop_text }}</a>
                </div>
            </div>
        </div>
    </div>
</article>
<link rel="prefetch" href="/docs/" as="fetch" />
