---
layout: default
---
{% assign lang = page.lang | default: "en" %}

<div class="subpagetitle_container">
    <section class="wrapper">
        <h1>{{ page.title }}</h1>
        {% if page.pageintro %}
            <p class="style--pageintro">{{ page.pageintro }}</p>
        {% endif %}
    </section>
</div>

<article class="wrapper wrapper--page">
    <div class="wrapper_columns">
        <div class="wrapper_column wrapper_column--sidebar">
            <div class="fixed_cell sidebar_cell">
                <h4>{{ site.data.docs[lang].page_introduction_name }}</h4>
                <ul>
                    {% for g in site.data.docs[lang].pages.introduction %}
                        {% if g.url == page.url %}
                            <li class="active"><b>{{ g.name }}</b></li>
                            {{ page.nav | markdownify }}
                        {% else %}
                            <li><a href="{{ g.url }}">{{ g.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <h4>{{ site.data.docs[lang].page_guides_name }}</h4>
                <ul>
                    {% for g in site.data.docs[lang].pages.guides %}
                        {% if g.url == page.url %}
                            <li class="active"><b>{{ g.name }}</b></li>
                            {{ page.nav | markdownify }}
                        {% else %}
                            <li><a href="{{ g.url }}">{{ g.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>

            </div>
        </div>
        <div class="wrapper_column">
            {{ content }}
        </div>
    </div>
</article>
