/* #region -- Text styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  text-align: center;
  background: #fdfcfb;
  font-family: "IBM Plex Sans", Roboto, Arial, Helvetica, sans-serif;
  line-height: 1em;
}
h1 {
  font-family: "IBM Plex Sans", Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  font-size: 3rem;
  line-height: 1.2em;
  margin: 0 0 1rem;
  word-wrap: break-word;
}
h2 {
  font-family: "IBM Plex Sans", Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.85rem;
  line-height: 1.2em;
  margin: -3rem 0 1.5rem 0;
}
h2::before {
  content: " ";
  display: block;
  height: 5rem;
  width: 1px;
}
h3 {
  font-family: "IBM Plex Sans", Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.3em;
  margin: 0 0 1rem;
}
* + h3 {
  padding-top: 1.5rem;
}
h4 {
  font-family: "IBM Plex Sans", Roboto, Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 0.825rem;
  line-height: 1em;
  margin: 0 0 0.5rem;
  padding-bottom: 0.125rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.85);
}
* + h4 {
  padding-top: 0.75rem;
}
article hr {
  margin: 3rem 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
p,
li,
td,
th {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4em;
  margin: 0 0 1rem;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0.5rem 0 1.5rem;
}
tr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
td,
th {
  padding: 0.25rem 0.125rem;
  text-align: left;
}
th {
  font-weight: 500;
}
li {
  margin: 0 0 0.25rem 2rem;
}
li:last-child {
  margin-bottom: 1rem;
}
li > p,
td > p {
  margin-bottom: 0;
}
strong,
b {
  font-weight: 500;
}
blockquote {
  position: relative;
  padding: 0.825rem 1rem;
  background: #e8eeff;
  border-radius: 0.75rem;
  margin: 2rem 0;
}
blockquote.TODO {
  background: #ffeee8;
  border: 2px solid #d40;
}
blockquote > p {
  margin-bottom: 0.5rem;
}
blockquote > p:last-child {
  margin-bottom: 0;
}
a,
a:active {
  text-decoration: none;
  color: #048;
}
a:visited {
  color: #84b;
}
a:active,
a:hover {
  text-decoration: underline;
}
blockquote + p > .block_link {
  margin: -1rem 0 2rem;
  border-color: #08d;
}
.block_link {
  display: block;
  position: relative;
  line-height: 1.7;
  border-radius: 0.75rem;
  padding: 0.75rem 1rem 0.75rem 4.5rem;
  margin: 1rem 0;
  background: #fff;
  border: 1px solid #f0f0f0;
  overflow: hidden;
}
.block_link::before {
  display: flex;
  min-width: 3.5rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: 1;
  background: #f0f0f0;
  transition: background 0.2s ease;
}
.block_link.doc::before {
  content: url("/assets/icons/file-text.svg");
}
.block_link.guide::before {
  content: url("/assets/icons/list.svg");
}
.block_link.decorator::before {
  content: url("/assets/icons/spec-decorator.svg");
}
.block_link.property::before {
  content: url("/assets/icons/spec-property.svg");
}
.block_link.method::before {
  content: url("/assets/icons/spec-method.svg");
}
.block_link.function::before {
  content: url("/assets/icons/spec-function.svg");
}
.block_link.class::before {
  content: url("/assets/icons/spec-class.svg");
}
.block_link.interface::before {
  content: url("/assets/icons/spec-interface.svg");
}
.block_link.type::before {
  content: url("/assets/icons/spec-type.svg");
}
.block_link:hover::before {
  background: #ccc;
}
.block_link:hover {
  border-color: #ccc;
}
.block_link:hover > strong {
  text-decoration: underline;
}
.block_link > strong {
  color: #048;
}
h3 a,
h3 a:active,
h3 a:hover,
h3 a:visited,
.subtitle a,
.subtitle a:active,
.subtitle a:hover,
.subtitle a:visited,
.block_link,
.block_link:active,
.block_link:hover,
.block_link:visited,
.logo_link,
.logo_link:active,
.logo_link:hover,
.logo_link:visited {
  color: inherit;
  text-decoration: none;
}
/* #endregion */

/* #region -- Article specific styles */
.style--dim {
  opacity: 0.5;
}
.style--light {
  font-weight: 200;
}
.style--pageintro {
  font-weight: 200;
  font-size: 1.2rem;
}
.style--pageintro code {
  font-weight: normal;
  font-size: 1rem;
}
.displaytitle {
  font-size: 3.5rem;
  line-height: 1.1em;
  margin: 1rem 0 1rem;
}
.displaytitle--section {
  text-align: center;
  font-size: 2rem;
  line-height: 1.4em;
  margin: 2.5rem 0 3rem;
}
article p,
article li {
  line-height: 1.7;
}
p.fullWidthImage > img {
  max-width: 100%;
}
img.logo_inline {
  height: 1.5rem;
  vertical-align: middle;
  position: relative;
  top: -0.2em;
}
.pagetitle_container {
  padding: 3rem 0 1rem;
  color: #333;
}
.table--ref {
  font-size: 0.875rem;
  width: 100%;
  padding: 0;
  margin: 0;
  border-spacing: 0;
  border-collapse: separate;
}
.table--ref tr {
  padding: 0;
  margin: 0;
}
.table--ref td,
.table--ref th {
  padding: 0;
  margin: 0;
  border-top: 1px solid #ccc;
  font-weight: 300;
  line-height: 1.7em;
  text-align: left;
}
.table--ref th {
  font-size: inherit;
  font-weight: 500;
}
h2.spec {
  font-weight: 300;
  font-size: 1.45rem;
}
h2.spec img {
  display: inline-block;
  vertical-align: middle;
  margin: -0.25rem 0.75rem 0 0;
  width: 1rem;
}
hr + h2.spec {
  margin-top: -4rem;
}
.spec_tag {
  font-size: 0.875rem;
  line-height: 1em;
  display: inline-block;
  background: #333;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
}
.spec_tag--deprecated {
  background: #a33;
}
/* #endregion */

/* #region -- Code styles */
code {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
}
p code,
li code {
  background: rgba(255, 255, 255, 0.65);
  border-radius: 0.25rem;
  padding: 0.125rem;
  word-break: break-word;
}
pre code {
  padding: 0;
}
pre code,
p code,
li code,
td code,
th code {
  font-size: 0.875rem;
}
article pre {
  position: relative;
  margin: 2rem -0.25rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.035);
  border-radius: 0.75rem;
  overflow: auto;
  line-height: 1.3em;
}
li pre {
  margin: 0.5rem -0.25rem;
}

/* Accommodate links in code blocks: */
a + code,
code + code {
  padding-left: 0;
}
code + a > code {
  padding: 0;
}
/* #endregion */

/* #region -- Top header navigation */
.topnav {
  z-index: 100;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #048;
  color: #fff;
  text-align: left;
  height: 4rem;
  line-height: 4rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.15);
}
.home .topnav {
  background: transparent;
  height: 5rem;
  line-height: 5rem;
  box-shadow: none;
}
.topnav_logo {
  width: 1.75rem;
  position: relative;
  top: 0.15rem;
  margin-right: 0.75rem;
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.35);
}
.home .topnav_logo {
  width: 2.25rem;
  margin-right: 0.65rem;
  top: 0.15rem;
}
.topnav_title {
  font-weight: 200;
  font-size: 1.25rem;
}
.home .topnav_title {
  font-size: 1.65rem;
}
.topnav_links {
  position: absolute;
  top: 0;
  right: 0;
  list-style-type: none;
}
.topnav_links li {
  margin: 0;
  display: inline-block;
}
.topnav_links a {
  display: inline-block;
  margin: 0 0 0 1rem;
}
.topnav a,
.topnav a:visited {
  color: #fff;
}
#breadcrumb_bar {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
  background: #eee;
  border-bottom: 1px solid #ccc;
  height: 4rem;
  margin-top: 4rem;
  font-weight: 100;
  line-height: 4rem;
}
#breadcrumb_bar a {
  font-weight: normal;
  color: inherit !important;
}
/* #endregion */

/* #region -- Footer */
.footer {
  z-index: 100;
  overflow: hidden;
  background: #048;
  color: #fff;
  padding: 1.5rem 0;
  margin: 5rem 0 0;
  font-weight: 200;
}
.footer a,
.footer a:visited {
  color: #fff;
}
.footer_logo {
  width: 5rem;
  display: block;
  margin: 0 auto 0.5rem;
}
#footer_logo_column {
  min-width: 12rem;
  text-align: center;
  flex: 1 1 33%;
  padding-bottom: 2.5rem;
}
#footer_logo_column + .wrapper_column {
  flex: 1 1 66%;
  margin: 0;
}
/* #endregion */

/* #region -- Layout and columns */
.wrapper {
  position: relative;
  text-align: left;
  text-align: start;
  width: 92vw;
  margin: 0 auto;
}
.wrapper--tight {
  padding: 0 5%;
}
.topnav + .wrapper--page {
  padding-top: 4rem;
  min-height: calc(75vh - 9rem);
}
#breadcrumb_bar + .wrapper--page {
  min-height: calc(75vh - 9rem);
}
.wrapper--home {
  padding: 2rem 0;
  max-width: 38rem;
}
.wrapper_inner {
  margin: 0 10%;
}
.wrapper_inner--decorate {
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0;
  margin-top: 1.125rem;
}
.wrapper_columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  text-align: left;
  text-align: start;
  margin: 0 0 -1rem -2rem;
}
.wrapper_column {
  width: 0;
  flex: 1 1 19rem;
  padding: 0 0 1rem 2rem;
  min-width: 0;
}
.wrapper_column--oppose {
  text-align: end;
}
.wrapper_column--sidebar {
  margin-right: 1rem;
  max-width: 19rem;
  order: -1;
}
.wrapper_column--aside {
  max-width: 25rem;
  margin: 0 1rem 1rem;
}
.wrapper_column--aside {
  max-width: 23rem;
}
/* #endregion */

/* #region -- Sidebar layout */
.fixed_cell {
  flex: 1 1 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  max-height: 100vh;
  padding-bottom: 2rem;
  margin-bottom: -6rem;
}
.fixed_cell_inner {
  height: calc(100vh - 6rem);
  overflow-y: auto;
}
.fixed_cell_backtotop {
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid #eee;
}
.fixed_cell_backtotop a {
  color: #888 !important;
  padding: 0.5rem 0.75rem;
}
.fixed_cell p,
.fixed_cell li {
  text-overflow: ellipsis;
  overflow: hidden;
}
#toc.sidebar_nav {
  padding-top: 3rem;
}
.sidebar_nav a {
  color: #048 !important;
  display: block;
  min-height: 1.75rem;
}
.sidebar_nav ul {
  margin-bottom: 1rem;
}
.sidebar_nav li {
  list-style-type: none;
  margin: 0;
  line-height: 1.75rem;
}
.sidebar_nav li[aria-current="page"] {
  margin: 0.125rem 0 0;
  color: #048;
}
.sidebar_nav li[aria-current="page"] + ul {
  margin-bottom: 0.25rem;
}
.sidebar_nav li[aria-current="page"] + ul li {
  padding-left: 1rem;
  margin-left: 0.1rem;
  border-left: 0.25rem solid #08d;
}
/* #endregion */

/* #region -- Sidebar collapsing sections */
.sidebar_nav h4 {
  text-transform: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 0 0.25rem;
  cursor: pointer;
}
.sidebar_nav ul + h4 {
  border-top: 1px solid #e0e0e0;
}
.sidebar_nav h4::before {
  content: url("/assets/icons/chevron.svg");
  width: 1rem;
  display: inline-block;
  margin-right: 0.5rem;
  transform: rotate(90deg);
  transition: all 0.1s ease-in-out;
}
.sidebar_nav h4 + ul {
  padding-left: 0.75rem;
}
.sidebar_nav h4.closed::before {
  transform: rotate(0);
}
.sidebar_nav h4.closed + ul {
  display: none;
}
/* #endregion */

/* #region -- Home page styles */
.titlebackdrop_container {
  overflow: hidden;
  position: relative;
  padding: 8rem 0 11rem;
  color: #fff;
  font-size: 1.5rem;
  min-height: 20vh;
}
.titlebackdrop_container p {
  line-height: 1.25em;
}
.titlebackdrop {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
  width: 120%;
  height: 100%;
  background: #84b;
  background: linear-gradient(#048, #84b);
  box-shadow: inset 0 -1rem 2rem rgba(0, 0, 0, 0.15);
  transform-origin: bottom left;
  transform: rotate(-2deg);
}
.refblock_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  margin: -6rem auto 2rem;
}
.refblock {
  flex: 1 0 13.5rem;
  padding: 0 1rem 1rem;
}
.refblock_block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  padding: 1.5rem 1.25rem 0.5rem;
  border-radius: 0.5rem;
  border-top: 3px solid #da0;
  box-shadow: 0 0.5rem 1rem 0 rgba(10, 10, 29, 0.02),
    0 0.5rem 2.5rem 0 rgba(10, 10, 29, 0.07);
}
.refblock h3 {
  font-size: 1rem;
  color: #048;
}
.prefooter {
  background: #fff;
  padding: 3rem 0;
  margin-bottom: -5rem;
}
.prefooter .wrapper_column {
  flex: 1 1 12rem;
}
.prefooter li {
  list-style-type: none;
  padding: 0.25rem 0 0.25rem 1rem;
  margin: 0;
  border-left: 0.25rem solid #08d;
}
/* #endregion */

/* #region -- Home page large icons */
.side-icon {
  width: 2.5rem;
  text-align: center;
}
.side-icon--home {
  width: 13rem;
  margin-bottom: 2rem;
}
.side-icon.side-icon_left {
  float: left;
  margin-right: 1rem;
}
.side-icon.side-icon_right {
  float: right;
  margin-left: 1rem;
}
.side-icon + section {
  display: block;
  overflow: hidden;
}
.side-icon svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  stroke: #888;
  stroke-width: 0.75px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: middle;
}
.side-icon--home .icon-bg {
  display: inline-block;
  text-align: center;
  width: 6rem;
  height: 6rem;
  border-radius: 1.5rem;
  background: #84b;
  background: linear-gradient(#048, #84b);
}
.side-icon--home .icon-bg svg {
  position: relative;
  top: 1.25rem;
  width: 3.5rem;
  height: 3.5rem;
  stroke: #fff;
  stroke-width: 0.75px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: middle;
}
/* #endregion */

/* #region -- Guides style */
.wrapper--guide h1 {
  font-size: 2.5rem;
  max-width: 50rem;
}
.wrapper--guide_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.wrapper--guide_content > * {
  flex: 1 1 20rem;
  min-width: 20rem;
  max-width: 100%;
}
.wrapper--guide_content > hr {
  min-width: 100%;
}
.wrapper--guide_content > footer,
.guide_full {
  margin-top: 2rem;
  min-width: 100%;
}
.wrapper--guide_content > section {
  font-size: 0.875rem;
  line-height: 1.2rem;
  flex: 0 1 20rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  padding-right: 1rem;
}
.wrapper--guide_content pre {
  margin: 0;
}
/* #endregion */

/* #region -- Responsive: large */
@media (min-width: 70rem) {
  .wrapper {
    max-width: 64rem;
  }
  .wrapper_column--sidebar {
    margin-right: 2rem;
  }
  .wrapper--home {
    max-width: 50rem;
  }
}
/* #endregion */

/* #region -- Responsive: small */
@media (max-width: 46rem) {
  html {
    scroll-behavior: initial;
  }
  .wrapper_column {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .wrapper_column--nav {
    display: none;
  }
  .wrapper_column--sidebar,
  .wrapper_column--aside {
    margin: 0;
    order: 2;
  }
  .wrapper_column--sidebar .sidebar_cell {
    border: 0;
  }
  .wrapper_inner {
    margin-left: 0;
    margin-right: 0;
  }
  .side-icon--home {
    width: 100%;
    float: none !important;
  }
  .fixed_cell {
    position: static;
    max-height: none;
    margin-bottom: -4rem;
  }
  .fixed_cell_inner {
    overflow-y: visible;
    height: auto;
  }
  .fixed_cell_backtotop {
    display: none;
  }
  footer .wrapper_column--oppose {
    text-align: left;
    text-align: start;
  }
  .wrapper--guide_content > section {
    flex: 1 0 auto;
    margin-right: 1rem;
  }
  .wrapper--guide_content pre {
    margin-left: -2vw;
    margin-right: -2vw;
    padding-left: 2vw;
    max-width: none;
  }
}
@media (max-width: 28rem) {
  .hide_small {
    display: none !important;
  }
  #docwidget_layer .docwidget_cell {
    right: 0;
  }
}
/* #endregion */

/* #region -- Syntax highlighting */
.hljs-comment,
.hljs-doctag {
  font-style: italic;
  color: #888;
}
.hljs-meta,
.hljs-literal,
.hljs-section,
.hljs-string,
.hljs-number,
.hljs-template-tag,
.hljs-template-variable {
  color: #a80;
}
.hljs-title {
  color: #84b;
}
.hljs-built_in,
.hljs-keyword,
.hljs-name,
.hljs-selector-tag,
.hljs-tag,
.hljs-attribute {
  color: #04a;
}
.hljs-attr,
.hljs-symbol,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #08d;
}
/* #endregion */
